<!DOCTYPE html>
<html ng-app="angularSpa">
<head>
    <meta charset="utf-8">
    <title>Gráfico de Lineas</title>
                
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
    
    <script type="text/javascript" src="angular.min.js"></script>
</head>
    
<body>
<script>
var etiquetas = [];
var topicos = [];
var mencionesT1 = [];
var mencionesT2 = [];
for (i = 0; i < 9; i++) 
{
    etiquetas[i]= i+1 +'-02-2014'; 
}

var largo = 9;

topicos[0]="Trump";
topicos[1]="Siria";
       
mencionesT1[0] = 453;
mencionesT1[1] = 357;
mencionesT1[2] = 241;
mencionesT1[3] = 100;
mencionesT1[4] = 321;
mencionesT1[5] = 576;
mencionesT1[6] = 1200;
mencionesT1[7] = 587;
mencionesT1[8] = 811;
        

mencionesT2[0] = 500;
mencionesT2[1] = 1224;
mencionesT2[2] = 221;
mencionesT2[3] = 1120;
mencionesT2[4] = 32;
mencionesT2[5] = 315;
mencionesT2[6] = 700;
mencionesT2[7] = 512;
mencionesT2[8] = 1000;
</script> 
<div>
    A continuación se muestra un gráfico lineal.
    Este gráfico contiene información acerca de la cantidad de tweets realizados en las fechas indicadas en el eje X.
    Puede interactuar con el gráfico.
</div>  

<canvas id="myLineChart" width="400" height="400"></canvas> 


<script type="text/javascript">
var misDatos = angular.module('datosApp', []);
misDatos.controller('controladorDatos',function($scope,$http){
        $scope.dates = [];
        $scope.mentions = [];
		$scope.importar = function(){
			var json = {
                "cantidadFechas": "9",
                "inf":
                [
                    {
                        "concepto": "Trump",
                        "dates": ["01-02-2014", "02-02-2014", "03-02-2014", "04-02-2014", "05-02-2014", "06-02-2014", "07-02-2014", "08-02-2014", "09-02-2014"],
                        "mentions": [453, 357, 241, 100, 321, 576, 1200, 587, 811]
                    },

                    {
                      "concepto": "Siria",
                      "dates": ["01-02-2014", "02-02-2014", "03-02-2014", "04-02-2014", "05-02-2014", "06-02-2014", "07-02-2014", "08-02-2014", "09-02-2014"],
                      "mentions": [500, 3324, 221, 1120, 32, 315, 700, 512, 1000]
                    }
                ]
            } 
            
            angular.forEach(json.inf, function (item) {
                        angular.forEach(item.dates, function (date) {
                            $scope.dates.push(date);
                        });
                        angular.forEach(item.mentions, function (mention) {
                            $scope.mentions.push(mention);
                        });
                
                    });
		}
        $scope.importar();
});

var canvas = document.getElementById("myLineChart");
var ctx = canvas.getContext('2d');
Chart.defaults.global.defaultFontColor = 'black';
Chart.defaults.global.defaultFontSize = 16;
var data = {
  labels: etiquetas,
  datasets: [{
      label: topicos[0],
      fill: false,
      lineTension: 0.1,
      backgroundColor: "rgba(225,0,0,0.4)",
      borderColor: "red", // The main line color
      borderCapStyle: 'square',
      borderDash: [], // try [5, 15] for instance
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "black",
      pointBackgroundColor: "white",
      pointBorderWidth: 1,
      pointHoverRadius: 8,
      pointHoverBackgroundColor: "yellow",
      pointHoverBorderColor: "brown",
      pointHoverBorderWidth: 2,
      pointRadius: 4,
      pointHitRadius: 10,
      // notice the gap in the data and the spanGaps: true
      data: mencionesT1,
      spanGaps: true,
    }, {
      label: topicos[1],
      fill: false,
      lineTension: 0.1,
      backgroundColor: "rgba(167,105,0,0.4)",
      borderColor: "rgb(167, 105, 0)",
      borderCapStyle: 'butt',
      borderDashOffset: 0.0,
      pointBorderColor: "white",
      pointBackgroundColor: "black",
      pointBorderWidth: 1,
      pointHoverRadius: 8,
      pointHoverBorderWidth: 2,
      pointRadius: 4,
      pointHitRadius: 10,
      data: mencionesT2,
      spanGaps: true,
    }
  ]
};

// Notice the scaleLabel at the same level as Ticks
var options = {
  scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
                scaleLabel: {
                     display: true,
                     labelString: 'Menciones vs Tiempo',
                     fontSize: 20 
                  }
            }]            
        }  
};

// Chart declaration:
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: data,
  options: options
});
</script>


<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"   integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.min.js"></script>
<script src="js/app.js"></script>

<script src="js/controllers/graficotorta.js"></script>

</body>
</html>