<!--Código referente a Gráfico Lineal -->
<div>
    <h1>Análisis con Gráfico Lineal</h1>
    <section ng-controller="linealController">
	    <p>A continuación se muestra un gráfico lineal.</p>
            <p>Este gráfico contiene información acerca de la cantidad de tweets realizados en fechas específicas.</p>
            <p>Puede interactuar con el gráfico.</p>
    </section>
    
    <br/><br/><br/><br/><br/><br/><br/><br/>
    <br/><br/><br/><br/><br/><br/><br/><br/>
</div>
<canvas id="myLineChart" width="500" height="210" style="display: block; width: 100px; height: 210px;"></canvas>

