    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

    <span class="ir-arriba icon-arrow-up"></span>


    <section id="mision" class="misionVision envoltura">
        <ul class="clearfix">
            <li align= left class="animated wow fadeInDown">
                <img class="icon" src="img/icon1.png" alt=""/>
                <span class="separator"></span>
                <h2>Nuestra misión</h2>
                <p>Lograr bla bla bla bla bla bla.</p>
            </li>
            <li class="animated wow fadeInDown"  data-wow-delay=".2s">
                <img class="icon" src="img/icon2.png" alt=""/>
                <span class="separator"></span>
                <h2>Nuestros objetivos</h2>
                <p>Hacer de bla bla bla bla bla bla.</p>
            </li>
            <center>
            <li class="animated wow fadeInDown"  data-wow-delay=".4s">
                <img class="icon" src="img/icon3.png" alt=""/>
                <span class="separator"></span>
                <h2>Alcance</h2>
                <p>Todo lo bla bla bla bla bla bla.</p>
            </li>
            </center>
        </ul>
    </section>

  <section id="equipo" class="testimonials envoltura">
      <center>
        <div class="title animated wow fadeIn">
            <h2>Equipo de trabajo</h2>
            <h3>BC TEAM</h3>
            <hr class="separator"/>
        </div>
</center>
        <ul class="clearfix">
      <center>
            <li class="animated wow fadeInDown">
                <div class="client">
                    <img src="img/client1.jpg" class="avatar"/>
                    <div class="client_details">
                        <h4>Hector Fuentealba</h4>
                        <h5>Scrum Master</h5>
                    </div>
                </div>
            </li>
        </center>
            <center>
            <li class="animated wow fadeInDown"  data-wow-delay=".2s">
                <div class="client">
                    <img src="img/client2.jpg" class="avatar"/>
                    <div class="client_details">
                        <h4>Jean Cabello</h4>
                        <h5>Designer</h5>
                    </div>
                </div>
            </li>
                </center>
            <center>
            <li class="animated wow fadeInDown"  data-wow-delay=".2s">
                <div class="client">
                    <img src="img/client2.jpg" class="avatar"/>
                    <div class="client_details">
                        <h4>José Camus</h4>
                        <h5>AngularJS</h5>
                    </div>
                </div>
            </li>
                </center>
            <center>
            <li class="animated wow fadeInDown"  data-wow-delay=".2s">
                <div class="client">
                    <img src="img/client2.jpg" class="avatar"/>
                    <div class="client_details">
                        <h4>Cristian Lineros</h4>
                        <h5>Desarrollador</h5>
                    </div>
                </div>
            </li>
                </center>
            <center>
            
            <li class="animated wow fadeInDown"  data-wow-delay=".2s">
                <div class="client">
                    <img src="img/client2.jpg" class="avatar"/>
                    <div class="client_details">
                        <h4>David Aguilar</h4>
                        <h5>Desarrollador</h5>
                    </div>
                </div>
            </li>
                </center>

        </ul>
    </section><!--  End testimonials  -->