<select style="background: #000000" ng-model="selectedTestAccount" ng-selected="false" ng-options="c as c.nombrePais for c in testAccounts | orderBy:'nombrePais'"></select>
<br><br><br>
<div>
	<tt>País Seleccionado: {{selectedTestAccount.nombrePais}}</tt><br><br>
</div>
<div>
	<a href="" class="btn btn-default" ng-click="generar()">Generar</a>
</div>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>

<canvas id="myExChart" width="500" height="210" style="display: block; width: 100px; height: 210px;"></canvas>