<!--Código referente a Gráfico Torta -->
<div>
    <h1>Análisis con Gráfico de Torta</h1>
    <section ng-controller="tortaController">
        <p>A continuación se muestra un gráfico de torta.</p>
        <p>Este gráfico contiene información acerca de la cantidad de tweets realizados en cada país.</p>
        <p>Puede interactuar con el gráfico.</p>
        <p>La cantidad de países analizados fueron {{dataTorta.cantidadPaises}}</p>
        <p>La cantidad de tweets analizados en total fueron {{ctdtweets}}</p>
    </section>
    <br/><br/><br/><br/><br/><br/><br/><br/>
    <br/><br/><br/><br/><br/><br/><br/><br/>
</div>
<canvas id="myPieChart" width="421" height="210" style="display: block; width: 421px; height: 210px;">
